//! **************************************************************************
// Written by: Map P.20131013 on Wed Oct 25 22:56:16 2017
//! **************************************************************************

SCHEMATIC START;
COMP "MotorPasos<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "MotorPasos<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "MotorPasos<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "MotorPasos<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "modom" LOCATE = SITE "L13" LEVEL 1;
COMP "clk50MHz" LOCATE = SITE "C9" LEVEL 1;
COMP "reset" LOCATE = SITE "H13" LEVEL 1;
NET "clk50MHz_BUFGP/IBUFG" BEL "clk50MHz_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk50MHz_BUFGP/IBUFG" PERIOD = 20 ns HIGH 40%;
SCHEMATIC END;

