

NET "op[1]" LOC = K18;
NET "op[0]" LOC = G18;
NET "a[3]" LOC = N17;
NET "a[2]" LOC = H18;
NET "a[1]" LOC = L14;
NET "a[0]" LOC = L13;
NET "b[3]" LOC = M8;
NET "b[2]" LOC = V4;
NET "b[1]" LOC = T9;
NET "b[0]" LOC = K17;
NET "res[3]" LOC = F11;
NET "res[2]" LOC = E11;
NET "res[1]" LOC = V16;
NET "res[0]" LOC = F12;

# PlanAhead Generated physical constraints 

NET "b[3]" LOC = D18;
NET "b[1]" LOC = H13;
NET "res[1]" LOC = E12;
