//! **************************************************************************
// Written by: Map P.20131013 on Sat Oct 07 11:53:16 2017
//! **************************************************************************

SCHEMATIC START;
COMP "seg_m<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "an<0>" LOCATE = SITE "P17" LEVEL 1;
COMP "seg_m<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "an<1>" LOCATE = SITE "P18" LEVEL 1;
COMP "seg_m<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "an<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "seg_m<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "N16" LEVEL 1;
COMP "seg_m<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg_m<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg_m<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "seg_m<7>" LOCATE = SITE "M13" LEVEL 1;
COMP "a_top<0>" LOCATE = SITE "N8" LEVEL 1;
COMP "a_top<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "a_top<2>" LOCATE = SITE "V8" LEVEL 1;
COMP "a_top<3>" LOCATE = SITE "T5" LEVEL 1;
COMP "b_top<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "b_top<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "b_top<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "b_top<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "op_top<0>" LOCATE = SITE "B8" LEVEL 1;
COMP "op_top<1>" LOCATE = SITE "C4" LEVEL 1;
SCHEMATIC END;

